 <div class="comment-card" data-comment-id="<%= comment.id %>">
  <div class="d-md-flex">
    <div class="comment-user">
      <%= cl_image_tag comment.user.photo.key, class: "avatar mb-2" if comment.user.photo.attached? %>
      <p><strong>Von <%= comment.user.first_name %></strong></p>
    </div>
    <p class="comment-text"><%= comment.text %></p>
    <div class="d-none d-md-block">
      <%= link_to "<i class='fas fa-pencil-alt'></i>".html_safe, edit_comment_path(comment) %>
      <%= link_to "<i class='far fa-trash-alt'></i>".html_safe, comment_path(comment), method: :delete, remote: true, data: { confirm: "Willst du das Kommentar wirklich löschen?" } %>
    </div>

    <div class="d-md-none">
      <%= link_to "Bearbeiten", edit_comment_path(comment) %>
      <%= link_to "Löschen", comment_path(comment), method: :delete, remote: true, data: { confirm: "Willst du das Kommentar wirklich löschen?" } %>
    </div>

  </div>
</div>
