<h1>Memories#edit</h1>
<p>Find me in app/views/memories/edit.html.erb</p>
<%= simple_form_for [@baby, @memory] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :date %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.input :videos, as: :file, input_html: { multiple: true } %>
  <%= f.submit "Weiter" %>
<% end %>
