<h1><%= @memory.title %></h1>
<h3><%= @memory.description %></h3>
<% age = @memory.baby.calculate_age(@memory.date, @memory.baby.birthday) %>
<p>Am <%= @memory.date.strftime("%d.%m.%y") %> - <%= age %></p>
<div class="row">
  <% if @memory.photos.present? %>
  <% @memory.photos.each do |photo| %>
    <div class="col-12 col-lg-6 d-flex justify-content-center">
      <%= cl_image_tag photo.key, class: 'card-img' %>
    </div>
  <% end %>
  <% end %>
  <% if @memory.videos.present? %>
    <% @memory.videos.each do |video| %>
      <div class="col-12 col-lg-6 d-flex justify-content-center">
        <%= cl_video_tag video.key, autoplay: true, class: 'card-img' %>
      </div>
    <% end %>
  <% end %>
  <%= link_to "Edit", edit_memory_path(@memory) %>
  <%= link_to "Delete", memory_path(@memory), method: :delete, data: { confirm: "Willst du das Kommentar wirklich löschen?" } %>
</div>

<%= link_to "Kommentar", new_memory_comment_path(@memory) %>

<% @memory.comments.each do |comment| %>
  <p><%= comment.text %></p>
  <p>From <%= comment.user.first_name %></p>
  <%= link_to "Edit", edit_comment_path(comment) %>
  <%= link_to "Delete", comment_path(comment), method: :delete, data: { confirm: "Willst du das Kommentar wirklich löschen?" } %>

<% end %>
